#lower_textHeader,
.icon-backet,
.icon-user,
.menu-burger,
.wrapper-navigation span {cursor: pointer;}
.wrapper-navigation span:hover {color: #BB8C5F;}
.wrapper-contacts,
.wrapper-menu,
.wrapper-navigation,
.wrapper-icon,
.wrapper-header {display: flex;}
.wrapper-header {
    width: 100%;
    height: 80px;
    background: #050402;
    justify-content: space-around;
    align-items: center;
    max-width: 3000px;
}
#lower_textHeader,h1,span {
    color: #FAF6F2;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
}
#lower_textHeader {font-size: 15px;line-height: 150%;}
.header-logo {
    background-image: url(../../img/logoheader.png);
    width: 186px;
    height: 63px;
    position: absolute;
}
h1 {font-size: 25px;line-height: 140%;}
span {font-size: 17px;line-height: 150%;}
.wrapper-menu {margin-left: 108px;}
.wrapper-navigation span {padding: 30px;}
.wrapper-icon {width: 100px; justify-content: space-between;} 
.icon-backet,.icon-user,.menu-burger {width: 28px;height: 28px;}
.icon-backet {background-image: url(../../img/iconbacket.png);}
.icon-user {background-image: url(../../img/iconuser.png);}
.menu-burger {background-image: url(../../img/burgermenu.png); margin: 5px;}
.activeCategory {
    background: rgba(161, 200, 234, 0.249);
    border-radius: 6px;
}

@media (min-width: 3000px) {
    .wrapper-header {margin-left: 50%; transform: translate(-50%);}
}
@media (max-width: 1320px) {
    .wrapper-contacts {display: block; margin-left: -50px;}
    .email {margin-left: 0;}
    .wrapper-menu {margin-left: 0;}
}
@media (max-width: 1024px) {
    #header-two {flex-direction: column;}
    .modile {display: block; position: absolute; right: 50px;}
}
@media (max-width: 700px)  {
    #header-two {margin-top: 170px;}
}