/* All Transition */
.tatoo,
.wrapper_btn_quantity button,
#add_backet {transition: all 1s ease;}

/* All Cursor */
#add_backet,
.wrapper_btn_quantity button {cursor: pointer;}

.wrapper-main {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
.wrapper-products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }
.tatoo {
    position: relative;
    top: 50px;
    width: 289px;
    height: 384px;
    background: rgb(59, 61, 60);
}
.tatoo:hover {
    background: gray;
    cursor: pointer;
    transform: scale(1.1);
}
.wrapper-descript_tattoo {position: absolute; top: 0;}
.img_tatoo {
    position: relative;
    width: 290px;
    height: 383px;
    object-fit: fill;
}
.tatoo h2 {
    color: black;
    font-family: 'Jost';
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
}
.wrapper-btn-basket {
    width: 259px;
    height: 50px;
    background: #EEEEEE;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50%;
    transform: translate(-50%);
    position: absolute;
    bottom: 20px;
}
#add_backet {
    color: #BB8C5F;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 80%;
}
#add_backet:hover{color: #000;}
.wrapper_btn_quantity {display: flex; padding: 10px;}
.wrapper_btn_quantity button {
    width: 40px;
    height: 40px;
    border: 1.5px solid  #BB8C5F;
    background: #EEE;
    font-size: 20px;
}
.wrapper_btn_quantity button:hover {background: #BB8C5F;}
.counter_items {align-self: center; padding: 10px;}

@media (max-width: 1775px)  {
    .wrapper-products {grid-template-columns: repeat(3, 1fr);}
}

@media (max-width: 1024px)  {
    .wrapper-products {grid-template-columns: repeat(2, 1fr);}
}
@media (max-width: 700px)  {
    .wrapper-products {grid-template-columns: repeat(1, 1fr);}
    .wrapper-navigation {flex-direction: column;}
}